/**
Author: Joni Tuhkanen
**/
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  font-family: arial;
  font-size: 62.5%;
  background-color: #f5f5f5;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  padding-bottom: 6.3rem;
  width: 100%;
  height: 100%;
  background-color: #f5f9fc;
  position: relative;
}

.introduction_slide {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.introduction_slide_paragraph_1 {
  box-shadow: 0.1rem 0.4rem 1rem 0.5rem #e5e5e5;
  padding: 1.5rem 0 1.7rem 0;
  margin: 0;
  border: 0;
  font-size: 3rem;
  width: 80%;
  max-width: 64rem;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  position: relative;
  background-color: #abd9fb;
}

.introduction_slide_paragraph_2 {
  box-shadow: 1px 1px 50px 5 #fafafa;
  margin-top: 40px;
  padding: 3rem 3rem 3rem 3rem;
  border-radius: 10px;
  font-size: 2rem;
  color: #272f33;
  display: inline-block;
  background-color: #fcfcfc;
}

.introduction_slide_paragraph_3 {
  margin-top: 50px;
  margin-bottom: 0;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
  color: #313f47;
  display: inline-block;
}


@media screen and (max-width: 40em) {
  .introduction_slide_paragraph_1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .introduction_slide_paragraph_1 > br {
    display: none;
  }
}

@media screen and (max-width: 27em) {
  .introduction_slide_paragraph_1 {
    width: calc(97% - 2rem);
    font-size: 2.5rem;
  }

  .introduction_slide_paragraph_2 {
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(92% - 2rem);
  }

  .introduction_slide_paragraph_2 > br {
    display: none;
  }

  .introduction_slide_paragraph_3 > br {
    display: none;
  }

}

.introduction_slide_line {
  box-shadow: 0 10px 20px -20px #333;
  margin: 0;
  height: 20px;
  margin-top: 15px;
  border: 0;
  border-bottom: 2px solid #d9d9d9;
  padding: 0;
  height: 1px;
  width: 150px;
  display: inline-block;
}

.introduction_slide_submitter {
  box-shadow: 0 4px 4px 1px #f2f2f2;
  margin: 40px 0 5px 0;
  outline-style: none;
  padding: 0;
  width: 10rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 3px;
  background-color: #ffffff;
  color: #0c0e0f;
  font-size: 1.4rem;
}

.div_button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.introduction_slide_submitter:hover {
  background-color: #ebebeb;
}

.hidden {
  display: none;
}

.choosing_topics_slide {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 1;
  position: absolute;
  text-align: center;
}

.choosing_topics_slide_paragraph_1 {
  margin-top: 60px;
  font-size: 3.4rem;
  font-weight: bold;
  color: #647f92;
}

.choosing_topics_slide_line {
  box-shadow: 0 10px 20px -20px #333;
  margin: 0;
  height: 20px;
  margin-top: 15px;
  border: 0;
  border-bottom: 3px solid #d9d9d9;
  padding: 0;
  height: 1px;
  width: 300px;
  display: inline-block;
}

.choosing_topics_slide_paragraph_2 {
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 20px;
  width: 38rem;
  font-size: 2rem;
  color: #4e4e4e;
  background-color: #fcfcfc;
  display: inline-block;
}

.topic_listing {
  position: relative;
  margin-top: 10px;
  height: 100px;
  overflow-y: scroll;
  color: #171717;
}

.topic_listing_choice {
  position: relative;
  cursor: pointer;
  background-color: #fcfcfc;
}

@media screen and (max-width: 38em) {
  .choosing_topics_slide_paragraph_1 {
  }

  .choosing_topics_slide_paragraph_2 {
    width: 75%;
  }
}

.topic_listing_choice_clicked {
  background-color: #d0e9fb;
}

.choosing_topics_slide_submitter {
  box-shadow: 0 4px 4px 1px #f2f2f2;
  margin: 40px 0 5px 0;
  outline-style: none;
  padding: 0;
  width: 10rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 3px;
  background-color: #ffffff;
  color: #0c0e0f;
  font-size: 1.4rem;
}

.choosing_topics_slide_submitter:hover {
  background-color: #ebebeb;
}

.settings_base {
  width: 100%;
  height: 10rem;
  position: absolute;
}

.settings_icon {
  margin: 1rem 1rem 0 calc(100% - 5.1rem);
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
}

.settings_icon_not_clicked {
  fill: #83888c;
}

.settings_icon_not_clicked:hover {
  fill: #111112;
}

.settings_icon_clicked {
  fill: #ffffff;
}

.settings_menu {
  padding: 1em 1em 1em 1em;
  box-shadow:
    1px 4px 5px 3px rgba(80, 80, 80, 0.5),
    1px 1px 2px 1px rgba(80, 80, 80, 0.6);
  border-radius: 3px;
  width: calc(14rem + 120px);
  margin: 0.8rem 6.5rem 0 0;
  float: right;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: #ffffff;
  position: relative;
}

@media screen and (max-width: 500px) {
  .settings_menu {
    margin: 4px 6rem 0 6px;
    width: calc(100% - 6rem);
    float: none;
  }
}

.settings_menu_label {
  margin-right: 1rem;
  white-space: nowrap;
  font-size: 1.4rem;
}

.settings_menu > div {
  width: 100%;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}

#settings_menu_choose_topic_select_1 {
  min-width: 10px;
  font-size: 1.2rem;
}

#settings_menu_choose_topic_select_2 {
  min-width: 10px;
  font-size: 1.2rem;
}

#settings_menu_message_speed_numberinput {
  min-width: 10px;
  width: 40px;
}

.toolbar_choices {
  border-radius: 5px;
  padding: 0 0 0 8px;
  height: 2rem;
  float: right;
  font-weight: bold;
  background-color: #e6eff5;
}

.toolbar_choice {
  margin: 0 8px 0 0;
  font-size: 1.4rem;
  color: #eaf1f7;
  list-style-type: none;
}

.chat_messages {
  margin: 0 10% 0 10%;
  width: 80%;
  height: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.chat_message {
  box-shadow: 0.1rem 0.4rem 0.3rem 0.1rem #f0f4f7;
  border-radius: 3px;
  padding: 1.1rem 1.4rem 1.1rem 1.4rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-size: 1.7rem;
  overflow-x: hidden;
  background-color: #c2f283;
  vertical-align: middle;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.chat_message_green {
  background-color: #d6faa5; /* c2f283 */
}

.chat_message_white {
  background-color: #fcfeff;
}

.footer_base {
  box-sizing: border-box;
  padding-top: 1.3rem;
  border-top: 2px solid #e9edf0;
  bottom: 0;
  width: 100%;
  height: 6.3rem;
  font-size: 1.2rem;
  color: #606263;
  background-color: #f0f4f7;
  position: absolute;
  text-align: center;
}
